.navbar-nav {
  margin-left: auto;
}

.nav-link {
  color: #ffffff !important;
  font-size: 14px;
}

.navbar {
  background-color: 
  #0E592F !important;
 
}

.navbar-brand {
  color: #ffffff;
}

.navbar-toggler-icon{
  color:#ffffff !important;
}