form{
    height:100%;

    button{
        height:50px;
        background-color: 
        #0E592F;
        color: #ffffff;
        width:200px;
    }
}

.form-container{
    background-color: #ffffff;
    padding: 20px;
}