.report-heading{
    border-bottom:1px solid rgba(0, 0, 0, 0.175) ;
    margin-bottom:20px;
    border-block-start-color: pink;
}

.row-margin{
    margin-bottom:20px !important;
}

.card{
    padding:15px;
    header{
        color:#208C8C;
    }

    p{
        font-size:14px;
    }
}